body {
    margin: 0;
    padding: 0;
    background: rgb(255, 255, 255);
}

.main {
    position: absolute;
    top: 45%;
    left: 40%;
    transform: translate(50%,-50%);
}

.google {
    position: relative;
    width: 250px;
    top: -10px;
}